{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DevelopsTodayTest</title>

    <style>
        #a_auth {
            display: block;
            float: right;
            margin-right: 25px;
            padding: 10px 50px;
            color: black;

            border-radius: 15px;
            border: 1px solid black;
            text-decoration: none;
            transition: color 0.5s, background 0.5s;
        }

        #a_auth:hover {
            color: white;
            background: blue;
            border: 1px solid blue;
        }
    </style>

</head>

<body>
    {% if user.is_authenticated  %}
    <a href="api/v1/auth/logout?next=/" , id="a_auth">выйти({{user.username}})</a>
    {% else %}
    <!-- <a href="register" , id="a_auth">Регистрация на сайте</a> -->
    <a href="api/v1/auth/login/?next=/" , id="a_auth">Авторизация</a>
    {% endif %}
    <table id='table_id'>
        <tr>
            <td>Title</td>
            <td>Creation Date</td>
            <td>Author</td>
            <td>Comments</td>
            <td>Likes</td>
        </tr>
        {% for elem, count_coments in articles %}
        <tr style='background : rgb(49, 228, 138); color: black;'>
            <td><a href="{{elem.link}}">{{elem.title}}</a></td>
            <td>{{elem.creation_date}}</td>
            <td>{{elem.author}}</td>
            <td>{{count_coments.number_of_answers}}</td>
            <td>{{elem.likes}}
                <a href="addLike/{{elem.id}}">
                    <img src="{% static 'image/like-1873541_640.png' %}" width="25px" height="25px">
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>

</body>

</html>